<ejs-treegrid
  #treegrid
  [dataSource]="data"
  [enableVirtualization]="v"
  height="291"
  childMapping="Crew"
  [infiniteScrollSettings]="infiniteScrollSettings"
  [showColumnChooser]="show"
  [treeColumnIndex]="1"
  [allowFiltering]="show"
  [allowRowDragAndDrop]="true"
  [selectionSettings]="selectOptions"
  [editSettings]="editSettings"
  (rowDragStart)="onDrag($event)"
  [contextMenuItems]="contextMenuItems"
  (contextMenuOpen)="contextMenuOpen($event)"
  (contextMenuClick)="contextMenuClick($event)"
  (actionComplete)="sorting($event)"
  [enableInfiniteScrolling]="scroll"
  [allowSorting]="sort"
  [frozenColumns]="number"
  #grid
>
  <e-columns>
    <e-column
      field="{{ item.field }}"
      headerText="{{ item.headerText }}"
      width="120"
      textAlign="Right"
      *ngFor="let item of columns"
      fontSize="50"
      (columnMenuClick)="onDrag($event)"
    ></e-column>
  </e-columns>
</ejs-treegrid>

<ejs-dialog
  id="dialog"
  #ejDialog
  header="Add New Column"
  [target]="targetElement"
  width="400px"
  showCloseIcon="true"
  [visible]="dialogVisibility"
>
  <ng-template #content>
    <form>
      <div class="form-group">
        <label for="colName">Column Name:</label>
        <input type="text" class="form-control" id="colName" />
      </div>
      <button
        type="button"
        (click)="onCreateColumn()"
        class="btn btn-primary mr-2"
      >
        Save
      </button>
      <button type="button" (click)="onCancel()" class="btn btn-danger">
        Cancel
      </button>
    </form>
  </ng-template>
</ejs-dialog>
<ejs-dialog
  id="chooseColumnDialog"
  #chooseDialog
  header="Choose Column"
  [target]="targetElement"
  width="400px"
  showCloseIcon="true"
  height="500px"
  [visible]="dialogVisibility"
>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-danger dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Choose Column
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let item of columnsCopy">
        <input
          type="checkbox"
          [value]="item.field"
          [checked]="item.checked"
          (change)="onChooseColumn($event)"
        />&nbsp;{{ item.headerText }}
      </li>
    </ul>
  </div>
</ejs-dialog>

<ejs-dialog
  id="dialog"
  #columnDialog
  header="Column Settings"
  [target]="targetElement"
  width="400px"
  showCloseIcon="true"
  [visible]="dialogVisibility"
>
  <ng-template #content>
    <form [formGroup]="colForm">
      <div class="form-group">
        <label>Column Name:</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          value="{{ headerText }}"
        />
      </div>
      <div class="form-group">
        <label>DataType:</label>
        <select class="custom-select" formControlName="type">
          <option value="" disabled>Choose your Type</option>
          <option
            *ngFor="let type of types"
            value="{{ type }}"
            [selected]="type == dataType"
          >
            {{ type }}
          </option>
        </select>
      </div>
      <br />
      <div class="form-group">
        <label>Font Size:</label>
        <input type="number" class="form-control" formControlName="size" />
      </div>
      <div class="form-group">
        <label>Font Color:</label>
        <input type="color" class="form-control" formControlName="fontColor" />
      </div>
      <div class="form-group">
        <label>Background Color:</label>
        <input type="color" class="form-control" formControlName="bgColor" />
      </div>
      <div class="form-group">
        <label>Alignment:</label>
        <select class="custom-select" formControlName="alignment">
          <option value="" disabled>Choose Alignment</option>
          <option
            *ngFor="let type of alignments"
            value="{{ type }}"
            [selected]="type == textAlign"
          >
            {{ type }}
          </option>
        </select>
      </div>
      <button
        type="button"
        (click)="onEditColumn()"
        class="btn btn-primary mr-2"
      >
        Save
      </button>
      <button type="button" (click)="onEditCancel()" class="btn btn-danger">
        Cancel
      </button>
    </form>
  </ng-template>
</ejs-dialog>

<ejs-dialog
  id="dialog"
  #addRowDialog
  header="Adding Row"
  [target]="targetElement"
  width="400px"
  showCloseIcon="true"
  [visible]="dialogVisibility"
>
  <ng-template #content>
    <form [formGroup]="rowForm">
      <div class="form-group">
        <label>Player Jersey:</label>
        <input
          type="number"
          class="form-control"
          formControlName="TaskID"
          value="{{ headerText }}"
        />
      </div>
      <div class="form-group">
        <label>Player Name:</label>
        <input
          type="text"
          class="form-control"
          formControlName="FIELD1"
          value="{{ headerText }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label>Year:</label>
        <input type="number" class="form-control" formControlName="FIELD2" />
      </div>
      <div class="form-group">
        <label>Stint:</label>
        <input type="number" class="form-control" formControlName="FIELD3" />
      </div>
      <div class="form-group">
        <label>TMID:</label>
        <input type="number" class="form-control" formControlName="FIELD4" />
      </div>
      <button type="button" (click)="onAddRow()" class="btn btn-primary mr-2">
        Save
      </button>
      <button type="button" (click)="onCancelRow()" class="btn btn-danger">
        Cancel
      </button>
    </form>
  </ng-template>
</ejs-dialog>

<div class="col-lg-3 property-section" *ngIf="sort">
  <div class="property-panel-section">
    <div class="property-panel-header">Properties</div>
    <table
      id="property"
      class="property-panel-table"
      title="Properties"
      style="width: 100%"
    >
      <tr>
        <td style="width: 70%">
          <div>Player Jersey</div>
        </td>
        <td style="width: 30%; padding: 10px 10px 10px 0px">
          <div class="col-md-6">
            <ejs-checkbox
              #PlayerJersey
              value="TaskID"
              (change)="onClick($event, PlayerJersey)"
            >
            </ejs-checkbox>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 70%">
          <div>Player Name</div>
        </td>
        <td style="width: 30%; padding: 10px 10px 10px 0px">
          <div class="col-md-6">
            <ejs-checkbox
              #PlayerName
              value="FIELD1"
              (change)="onClick($event, PlayerName)"
            ></ejs-checkbox>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 70%">
          <div>Year</div>
        </td>
        <td style="width: 30%; padding: 10px 10px 10px 0px">
          <div class="col-md-6">
            <ejs-checkbox
              #Year
              value="FIELD2"
              (change)="onClick($event, Year)"
            ></ejs-checkbox>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 70%">
          <div>Stint</div>
        </td>
        <td style="width: 30%; padding: 10px 10px 10px 0px">
          <div class="col-md-6">
            <ejs-checkbox
              #Stint
              value="FIELD3"
              (change)="onClick($event, Stint)"
            ></ejs-checkbox>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 70%">
          <div>TMID</div>
        </td>
        <td style="width: 30%; padding: 10px 10px 10px 0px">
          <div class="col-md-6">
            <ejs-checkbox
              #TMID
              value="FIELD4"
              (change)="onClick($event, TMID)"
            ></ejs-checkbox>
          </div>
        </td>
      </tr>
    </table>
</div>
