<ejs-treegrid
  #treegrid
  [dataSource]="data"
  [enableVirtualization]="v"
  height="291"
  childMapping="Crew"
  [infiniteScrollSettings]="infiniteScrollSettings"
  [showColumnChooser]="show"
  [treeColumnIndex]="1"
  [allowFiltering]="show"
  [allowRowDragAndDrop]="true"
  [selectionSettings]="selectOptions"
  [editSettings]="editSettings"
  (rowDragStart)="onDrag($event)"
  [contextMenuItems]="contextMenuItems"
  (contextMenuOpen)="contextMenuOpen($event)"
  (contextMenuClick)="contextMenuClick($event)"
  [sortSettings]='sortSettings' 
  (actionComplete)="sorting($event)"
  [allowSorting]="sort" 
  #grid
>
  <e-columns>
    <e-column
      field="{{ item.field }}"
      headerText="{{ item.headerText }}"
      width="120"
      textAlign="Right"
      *ngFor="let item of columns"
      fontSize="50"
      (columnMenuClick)="onDrag($event)"
    ></e-column>
  </e-columns>
</ejs-treegrid>

<ejs-dialog
  id="dialog"
  #ejDialog
  header="Add New Column"
  [target]="targetElement"
  width="400px"
  showCloseIcon="true"
  [visible]="dialogVisibility"
>
  <ng-template #content>
    <form>
      <div class="form-group">
        <label for="colName">Column Name:</label>
        <input type="text" class="form-control" id="colName" />
      </div>
      <button (click)="onCreateColumn()" class="btn btn-primary mr-2">
        Save
      </button>
      <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
    </form>
  </ng-template>
</ejs-dialog>
<ejs-dialog
  id="chooseColumnDialog"
  #chooseDialog
  header="Choose Column"
  [target]="targetElement"
  width="400px"
  showCloseIcon="true"
  height="500px"
  [visible]="dialogVisibility"
>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-danger dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Choose Column
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let item of columnsCopy">
        <input
          type="checkbox"
          [value]="item.field"
          [checked]="item.checked"
          (change)="onChooseColumn($event)"
        />&nbsp;{{ item.headerText }}
      </li>
    </ul>
  </div>
</ejs-dialog>

<ejs-dialog
  id="dialog"
  #columnDialog
  header="Column Settings"
  [target]="targetElement"
  width="400px"
  showCloseIcon="true"
  [visible]="dialogVisibility"
>
  <ng-template #content>
    <form [formGroup]="colForm">
      <div class="form-group">
        <label>Column Name:</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          value="{{ headerText }}"
        />
      </div>
      <div class="form-group">
        <label>DataType:</label>
        <select class="custom-select" formControlName="type">
          <option value="" disabled>Choose your Type</option>
          <option *ngFor="let type of types" value={{type}}>{{ type }}</option>
        </select>
      </div>
      <br />
      <div class="form-group">
        <label>Font Size:</label>
        <input type="number" class="form-control" formControlName="size" />
      </div>
      <div class="form-group">
        <label>Font Color:</label>
        <input type="color" class="form-control" formControlName="fontColor" />
      </div>
      <div class="form-group">
        <label>Background Color:</label>
        <input type="color" class="form-control" formControlName="bgColor" />
      </div>
      <div class="form-group">
        <label>Alignment:</label>
        <select class="custom-select" formControlName="alignment">
          <option value="" disabled>Choose Alignment</option>
          <option *ngFor="let type of alignments" value={{type}}>
            {{ type }}
          </option>
        </select>
      </div>
      <button (click)="onEditColumn()" class="btn btn-primary mr-2">
        Save
      </button>
      <button (click)="onEditCancel()" class="btn btn-danger">Cancel</button>
    </form>
  </ng-template>
</ejs-dialog>

<div class="col-lg-2  bg-light" >

              <div class="text-center">Properties </div>
      <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
          <!-- <tr>
              <td style="width: 70%">
                  <div *ngFor="let item of columns" class="mb-2" style="width:150px">
                     {{item.headerText}}
                     <input type="checkbox"  value={{item.field}} (change)="onClick($event)"   >
                  </div>
              </td>
          </tr> -->
          <tr>
            <td style="width: 70%">
                <div>
                  Player Jersey
                </div>
            </td>
            <td style="width: 30%;padding:10px 10px 10px 0px">
                <div class="col-md-6">
                  <input type="checkbox"  [checked]="true" (change)="onClick1($event)"  #PlayerJersey >
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 70%">
                <div>
                  Player Name
                </div>
            </td>
            <td style="width: 30%;padding:10px 10px 10px 0px">
                <div class="col-md-6">
                  <input type="checkbox"  [checked]="true" (change)="onClick2($event)"  #PlayerName >
                    </div>
            </td>
        </tr>
        <tr>
            <td style="width: 70%">
                <div>
                  Year
                </div>
            </td>
            <td style="width: 30%; padding:10px 10px 10px 0px">
                <div class="col-md-6">
                  <input type="checkbox"   (change)="onClick3($event)"   #Year>
                    </div>
            </td>
        </tr>
        <tr>
            <td style="width: 70%">
                <div>
                  Stint
                </div>
            </td>
            <td style="width: 30%; padding:10px 10px 10px 0px">
                <div class="col-md-6">
                  <input type="checkbox"   (change)="onClick4($event)"  #Stint >
                    </div>
            </td>
        </tr>
        <tr>
          <td style="width: 70%">
              <div>
                TMID
              </div>
          </td>
          <td style="width: 30%; padding:10px 10px 10px 0px">
              <div class="col-md-6">
                <input type="checkbox"   (change)="onClick5($event)" #TMID  >
                  </div>
          </td>
      </tr>
    </table>
</div>
  